<div class="container">
  <h2>Resumen del Carrito</h2>
  <ul>
    {{#each cart.products}}
    <li>{{this.product.title}} - Cantidad: {{this.amount}}</li>
    {{/each}}
  </ul>
  <p>Total: ${{cart.total}}</p>
  <form id="payment-form">
    <!-- Aquí va el formulario de Stripe -->
    <button id="checkout-button">Pagar Ahora</button>
  </form>
</div>

<!-- Scripts necesarios -->
<script src="https://js.stripe.com/v3/"></script>
<script>
  const stripe = Stripe('pk_test_51OxC2OKlCW7s1OuWEnZ1gQg9TvmIn2BlA3xBnpZMcinWDSnttJAViG1ZKQp5SadWVLRDMIOGxmn1kbWrQ3otooYq00isYyJ3JE');
  const elements = stripe.elements();
  const cardElement = elements.create('card');

  cardElement.mount('#card-element');

  cardElement.on('change', function(event) {
    const displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  document.getElementById('checkout-button').addEventListener('click', async function(event) {
    event.preventDefault();

    const { paymentMethod, error } = await stripe.createPaymentMethod({
      type: 'card',
      card: cardElement,
    });

    if (error) {
      const displayError = document.getElementById('card-errors');
      displayError.textContent = error.message;
    } else {
      try {
        const response = await fetch('/api/payments/payment-intents', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ productIds: '{{#each cart.products}}{{this.product._id}},{{/each}}' }),
        });
        if (response.ok) {
          window.location.href = '/payment-success'; // Redirigir a la página de éxito de pago
        } else {
          window.location.href = '/payment-error'; // Redirigir a la página de error de pago
        }
      } catch (error) {
        console.error("Error al finalizar compra:", error);
        document.getElementById('purchase-message').textContent = "Error al procesar la compra";
      }
    }
  });
</script>

