/* General */
body {
  background-color: #242424;
}
h2,
h3,
p {
  color: white;
}
.line {
  width: 25%;
  height: 2px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}

/* Card */
.card-title {
  font-size: 1.2em;
  font-weight: bold;
}
.card-price {
  font-size: 1.2em;
  font-family: "Arial", sans-serif;
  color: #333;
}
.card-stock {
  font-size: 1.2em;
  font-family: "Arial", sans-serif;
  color: #333;
}
/* Estilos para el acordeón */
.accordion .card {
  border: none;
  background-color: transparent;
}

.accordion .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}

.accordion .btn-link {
  color: #007bff;
  text-decoration: none;
}

.accordion .btn-link:hover {
  color: #0056b3;
  text-decoration: none;
}

.accordion .card-body {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
/* Estilos para la lista de detalles del producto */
.list-group-item {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 5px;
}

.list-group-item strong {
  color: #007bff;
}
.brand-logo {
  width: auto;
  height: 40px;
  max-height: 100%;
}

/* Estilos Login */
.login-container {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-title {
  color: #007bff;
  text-align: center;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Estilos Register */
.register-container {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-title {
  color: #007bff;
  text-align: center;
  margin-bottom: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.register-form input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.register-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.register-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* Estilos Profile */
.profile-container {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-title {
  color: #007bff;
  text-align: center;
  margin-bottom: 10px;
}

.profile-info {
  margin-top: 10px;
}

.profile-info div {
  margin-bottom: 10px;
}

.logout-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  background-color: #007bff;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
}

.logout-link:hover {
  background-color: #0056b3;
}

/* Estilos Cart */
.cart-details {
  text-align: center;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  margin-bottom: 20px;
}

.product-title {
  color: #fff;
}

.product-amount {
  color: #ccc;
}

.no-cart-message {
  font-style: italic;
  color: #aaa;
}
